*.pyc
.idea
/conf/crontab
/conf/crontab.deployed
/conf/general.yml
/conf/general.yml.deployed
/conf/httpd.conf
/conf/httpd.conf.deployed
/conf/varnish.vcl
/conf/varnish.vcl.deployed
/web/down.html
/data/cache
*~
/.coverage

.sass-cache

.venv

.DS_Store

/static/css
/static/sass/core.scss
/static/down.html
.vagrant
