{% if form.errors and form.cleaned_data.stripeToken %}
  <div class="account-form__errors">
    We have safely stored your payment information, and you have not yet been charged.
    Please correct the issues below, you will not need to reenter your card details.
  </div>
{% endif %}

{% if form.email %}
    {% include 'account/_form_field.html' with field=form.email %}
    {% include 'account/_form_field.html' with field=form.password %}
    {% include 'account/_form_field.html' with field=form.password_confirm %}
{% endif %}

<span id="js-price-information"
      data-{{ PRICING.0.id }}="{{ PRICING.0.price }}"
      data-{{ PRICING.1.id }}="{{ PRICING.1.price }}"
      data-{{ PRICING.2.id }}="{{ PRICING.2.price }}"></span>

{% include 'account/_form_field.html' with field=form.price %}
{% include 'account/_form_field_checkbox.html' with field=form.charitable_tick %}
<div id="charitable-qns"{% if not form.charitable_tick.value %} style="display:none"{% endif %}>
    {% include 'account/_form_field.html' with field=form.charitable %}
    <div id="charity-number"{% if not form.charity_number.value and not form.charity_number.errors %} style="display:none"{% endif %}>
        {% include 'account/_form_field.html' with field=form.charity_number %}
    </div>
    <div id="charitable-neither" style="display:none" class="account-form__errors">
        <p>Sorry, you don’t qualify for a charitable discounted price; you should untick that box.</p>
    </div>
</div>
<div id="charitable-desc">
    {% include 'account/_form_field.html' with field=form.description %}
</div>
{% include 'account/_form_field_checkbox.html' with field=form.interest_contact %}
{% if not stripe %}
    {% include 'account/_form_field_checkbox.html' with field=form.tandcs_tick %}
{% endif %}
