{% load i18n %}

<header>
    <h2>MapIt API</h2>
    <nav class="toc">
        <p>Account</p>
        <ul>
            <li><a href="{% url 'account_login' %}">{% trans "Log in" %}</a></li>
          {% if ACCOUNT_OPEN_SIGNUP %}
            <li><a href="{% url 'account_signup' %}">{% trans "Sign up" %}</a></li>
          {% endif %}
        </ul>
    </nav>
    <div class="sidebar--newsletter">
      <h2 style="font-size: 1.25rem">Subscribe to our news</h2>
      <div id="mc_embed_signup">
          <form action="https://mysociety.us9.list-manage.com/subscribe/post?u=53d0d2026dea615ed488a8834&amp;id=287dc28511&amp;f_id=002a44e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form">
  
              <div class="mysoc-newsletter--input-wrapper">
                  <div>
                      <label for="mce-EMAIL">Email Address</label>
                      <input class="form-control" type="email" name="EMAIL" id="mce-EMAIL" required value="">
                  </div>
                  <input class="btn btn--primary font-weight-bold" type="submit" name="subscribe" id="mc-embedded-subscribe" value="Subscribe">
              </div>
  
              <!-- mySociety newsletter -->
              <input type="checkbox" name="group[11745][32]" value="" hidden checked>
  
              <div aria-hidden="true" style="position: absolute; left: -5000px;">
              <input type="text" name="b_53d0d2026dea615ed488a8834_287dc28511" tabindex="-1" value="">
              </div>
  
          </form>
      </div>
    </div>
</header>
