{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Close account" %}{% endblock %}

{% block content %}
    {% include 'account/_logged_in_sidebar.html' %}
    <section class="account-form">
        <h2>{% trans "Close account" %}</h2>

        <p>To entirely close your account, please
            <a href="{% url "mapit_contact" %}">contact us</a>. Please note you
            can cancel your subscription at any time from your account page;
            closing your account will remove all your API keys and details from
            the system.
        </p>

    </section>

{% endblock %}
