{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Confirm your email address" %}{% endblock %}

{% block content %}
    {% include 'account/_signup_sidebar.html' %}
    <section>
        <h2>{% trans "Confirm your email address" %}</h2>

        <p>{% blocktrans %}We have sent you an email to <b>{{ email }}</b> for verification. Follow the link provided to finalise the signup process. If you do not receive it within a few minutes, contact us at <a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
        <p><a href="{{ success_url }}">Go back</a></p>
    </section>
{% endblock %}
