{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Confirm Email" %}{% endblock %}

{% block content %}
    {% include 'account/_signup_sidebar.html' %}
    <section class="account-form">
        <h2>{% trans "Confirm Email" %}</h2>
        <form method="post" action="{% url "account_confirm_email" key=confirmation.key %}">
            {% csrf_token %}
            <p>{% blocktrans with email=confirmation.email_address.email %}Confirm email address <b>{{ email }}</b>?{% endblocktrans %}</p>
            <div class="account-form__field">
                <button type="submit" class="btn btn--primary">{% trans "Confirm" %}</button>
            </div>
        </form>
    </section>
{% endblock %}
