{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block content %}
    {% include 'account/_login_sidebar.html' %}
    <section class="account-form">
        <h2>{% trans "Log in to an existing account" %}</h2>
        <p>
            We recommend that you
            <a href="{% url 'account_signup' %}">register for an account</a>
            and obtain an api key if you're going to use the API. Anonymous
            usage of the API is permitted, but is rate limited to 10 calls a
            minute. The free usage limit for non-profit users is 50,000 calls
            to the API per year. All other uses need to
            <a href="/licensing">acquire a licence</a>.
        </p>
        <p>
            Find out if you need a licence or
            <a href="mailto:{{ CONTACT_EMAIL }}">get in touch</a> so we
            can discuss how we can provide you with the service you require.
        </p>
        <form method="POST" action="{% url "account_login" %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
            {% csrf_token %}
            {% include 'account/_form_fields.html' %}
            <div class="account-form__field account-form__field--submit">
                <button type="submit" class="btn">{% trans "Log in" %}</button>
            </div>
            <a href="{% url "account_password_reset" %}" class="btn">{% trans "Forgot your password?" %}</a>
        </form>
    </section>
{% endblock %}
