{% extends "account/base.html" %}

{% load url from compat %}
{% load i18n %}
{% load account_tags %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% user_display request.user as user_display %}

{% block content %}
<article id="api-docs">
    {% include 'account/_login_sidebar.html' %}
    <section class="account-form">
        <h2>{% trans "Password reset" %}</h2>
        <form method="POST" action="">
            <p>{% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}</p>
            {% csrf_token %}
            {% include 'account/_form_fields.html' %}
            <div class="account-form__field account-form__field--submit">
                <button type="submit" class="btn">
                    {% trans "Reset my password" %}
                </button>
            </div>
        </form>
        <p>{% blocktrans %}If you have any trouble resetting your password, contact us at <a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
    </section>
</article>
{% endblock %}
