{% extends "account/base.html" %}

{% load url from compat %}
{% load i18n %}

{% block content_class %}account account-password{% endblock %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content %}
<article id="api-docs">
    {% include 'account/_logged_in_sidebar.html' %}
    <section class="account-form">
        <h2>{% trans "Change password" %}</h2>
        <form method="POST" action="">
            {% csrf_token %}
            {% include 'account/_form_fields.html' %}
            <div class="account-form__field account-form__field--submit">
                <button type="submit" class="btn">{% trans "Save" %}</button>
            </div>
        </form>
    </section>
</article>

{% endblock %}