{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Account" %}{% endblock %}

{% block content %}
    {% include 'account/_logged_in_sidebar.html' %}
    <section class="account-form">
        <h2>{% trans "Account" %}</h2>
        <form method="POST" action="{% url "account_settings" %}">
            {% csrf_token %}
            {% include 'account/_form_fields.html' %}
            <div class="account-form__field account-form__field--submit">
                <button class="btn btn--primary" type="submit">{% trans "Save" %}</button>
            </div>
        </form>
    </section>
{% endblock %}
