{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Sign up" %}{% endblock %}

{% block content %}
    {% include 'account/_logged_in_sidebar.html' %}
    <section class="account-form">
        <h2>{% trans "This site is in private beta" %}</h2>
        <p>{% blocktrans %}If you have signup code you can enter it below.{% endblocktrans %}</p>
        <form method="get" action="">
            <div class="account-form__field">
                <div class="account-form__label">Signup code</div>
                <div class="account-form__input">
                    <input type="text" name="code" placeholder="Your signup code..." />
                </div>
            </div>
            <div class="account-form__field account-form__field--submit">
                <input type="submit" class="btn btn--primary">
            </div>
        </form>
    </section>
{% endblock %}
