{% load i18n %}

{% block title %}{% trans "API Keys" %}{% endblock %}

{% block content %}
    <h1>{% trans "API Keys" %}</h1>
    <ul>
    {% for api_key in api_keys %}
        <li>
            <code>{{ api_key.key }}</code>
            <br/>
            <small>
              {% blocktrans with datetime=api_key.created_at %}
                Created: {{datetime}}
              {% endblocktrans %}
            </small>
            <a href="{% url 'api_keys_delete_key' api_key.pk %}">
                {% trans 'Delete' %}
            </a>
        </li>
    {% empty %}
        <p>{% trans "You don't have any keys yet, why not generate one now?" %}</p>
    {% endfor %}
    </ul>
    <form action="{% url 'api_keys_create_key' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="{% trans 'Generate new API Key' %}" />
    </form>
{% endblock %}
