{% extends "account/base.html" %}

{% load url from compat %}
{% load i18n %}

{% block title %}{% trans "Bad token" %}{% endblock %}

{% block content %}
<article id="api-docs">
    {% include 'account/_login_sidebar.html' %}
    <section>
        <h2>{% trans "Bad token" %}</h2>
        {% url "account_password_reset" as url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ url }}">new password reset</a>.{% endblocktrans %}</p>
    </section>
</article>
{% endblock %}