{% extends "mapit/base.html" %}

{% load url from compat %}
{% load i18n %}

{% block content_class %}account account-password{% endblock %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content %}
<article>
    {% include 'account/_logged_in_sidebar.html' %}
    <section>
        <form method="POST" action="">
            <legend>{% trans "Change password" %}</legend>
            <fieldset>
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn">{% trans "Save" %}</button>
            </fieldset>
        </form>
    </section>
</article>

{% endblock %}