{% extends "account/base.html" %}

{% load url from compat %}
{% load i18n %}

{% block title %}{% trans "Set your new password" %}{% endblock %}

{% block content %}
<article id="api-docs">
    {% include 'account/_login_sidebar.html' %}
    <section class="account-form">
        <h2>{% trans "Set your new password" %}</h2>
        <form method="POST" action="{% url "account_password_reset_token" uidb36=uidb36 token=token %}">
            {% csrf_token %}
            {% include 'account/_form_fields.html' %}
            <div class="account-form__field account-form__field--submit">
                <button type="submit" class="btn">{% trans "Save" %}</button>
            </div>
        </form>
    </section>
</article>
{% endblock %}