{% extends "account/base.html" %}

{% load url from compat %}
{% load i18n %}

{% block title %}{% trans "Sign up" %}{% endblock %}

{% block content %}
<article id="api-docs">
    {% include 'account/_signup_sidebar.html' %}
    <section class="account-form">
        <h2>{% trans "Sign up" %}</h2>
        <form id="signup_form" method="post" action="{% url "account_signup" %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
            {% csrf_token %}
            {% for field in form %}
                {% if field.is_hidden %}
                    {{ field }}
                {% else %}
                    <div class="account-form__field">
                        <div class="account-form__label">{{ field.label_tag }}</div>
                        <div class="account-form__input">{{ field }}</div>
                        {% if field.errors %}
                            <div class="account-form__errors">{{ field.errors }}</div>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="account-form__field account-form__field--submit">
                    <button type="submit" class="btn">{% trans "Sign up" %}</button>
            </div>
        </form>
    </section>
</article>
{% endblock %}
