{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Invoices" %}{% endblock %}

{% block content %}
    {% include 'account/_logged_in_sidebar.html' %}
    <section class="account-form">
        <h2>{% trans "Invoices" %}</h2>
        {% include 'account/_messages.html' %}

        {% if stripe.price %}

            <table class="striped">
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Status</th>
                </tr>
            {% for invoice in invoices %}
            <tr align="center">
                <td>{{ invoice.number }}</td>
                <td>{{ invoice.finalized_at|date }}</td>
                <td>£{{ invoice.amount_due|floatformat:-2 }}</td>
                <td>{{ invoice.status|title }}</td>
                <td>{% if invoice.status == 'paid' %}
                    <a href="{{ invoice.invoice_pdf }}">Download PDF</a>
                {% endif %}</td>
            </tr>
            {% endfor %}
            </table>

        {% else %}
            <p>You are not currently subscribed to a plan.</p>
            <p>
                <a href="{% url "subscription_update" %}" class="btn btn--primary">Subscribe to a plan</a></p>
            </p>

        {% endif %}

    </section>
{% endblock %}
