{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Subscription" %}{% endblock %}

{% block content %}
    {% include 'account/_logged_in_sidebar.html' %}
    <section class="account-form">
        <h2>{% trans "Subscription" %}</h2>
        {% include 'account/_messages.html' %}

        {% if stripe.plan %}
            <p>Your current plan: {{ stripe.plan.id }}, {{ stripe.plan.name }}
                <a href="{% url "subscription_update" %}">Change</a>
              {% if not stripe.cancel_at_period_end %}
                <a href="{% url "subscription_cancel" %}">Cancel</a>
              {% endif %}
            </p>

          {% if stripe.cancel_at_period_end %}
            <p><strong>Expires on {{ stripe.current_period_end|date }}</strong></p>
          {% else %}
            <p>Next payment on {{ stripe.current_period_end|date }}</p>
          {% endif %}

            <p>£{{ actual_paid|floatformat:-2 }} monthly.
            {% if stripe.discount %}
                (£{{ stripe.plan.amount|floatformat:-2 }}/m with
                {{ stripe.discount.coupon.percent_off }}% charitable discount)
            {% endif %}
            </p>

            {% if stripe.customer.default_source %}
            <p>Payment details we hold: {{ stripe.customer.default_source.brand }},
            last four digits <code>{{ stripe.customer.default_source.last4 }}</code>.</p>
            {% endif %}

<form action="{% url "subscription_card_update" %}" method="POST">
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="{{ STRIPE_PUBLIC_KEY }}"
        data-image="https://s3.amazonaws.com/stripe-uploads/acct_19EbqNIbP0iBLddtmerchant-icon-1479145884111-mysociety-wheel-logo.png"
        data-name="mySociety"
        data-panel-label="Update Card Details"
        data-label="Update Card Details"
        data-allow-remember-me=false
        data-locale="auto"
        data-email="{{ request.user.email }}">
  </script>
</form>

            <p>Subscription created on {{ stripe.created|date }}</p>

        {% else %}
        <p>You are not currently subscribed to a plan.</p>
        <p>
            <a href="{% url "subscription_update" %}" class="btn btn--primary">Subscribe to a plan</a></p>
        </p>

        {% endif %}

    </section>
{% endblock %}
