{% extends "account/base.html" %}

{% load static %}
{% load i18n %}

{% block title %}{% trans "Subscription" %}{% endblock %}

{% block content %}
    {% include 'account/_logged_in_sidebar.html' %}
    <section class="account-form">
        <h2>{% trans "Subscription" %}</h2>
        {% include 'account/_messages.html' %}

        {% if quota_status.blocked %}
          {% if quota_status.quota > 0 and quota_status.count > quota_status.quota %}
            <p class="attention-box warning">
                You have used up your quota for the month.
                Please <a href="{% url "subscription_update" %}">upgrade</a>
                or <a href="{% url "mapit_contact" %}">contact us</a>.
            </p>
          {% else %}
            <p class="attention-box warning">
                Your account is currently suspended. Please
                <a href="{% url "mapit_contact" %}">contact us</a>.
            </p>
          {% endif %}
        {% endif %}

        {% if stripe.price %}

            <p>Your current plan is <strong>{{ stripe.price.nickname }}</strong>.</p>

            <p>It costs you £{{ actual_paid|floatformat:-2 }}/mth.
            {% if stripe.discount %}
                (£{{ stripe.price.unit_amount|floatformat:-2 }}/mth with
                {{ stripe.discount.coupon.percent_off|floatformat }}% discount applied.)
            {% endif %}
            </p>

         {% if stripe.schedule.phases.1 and stripe.schedule.phases.1.items.0.price.nickname != stripe.price.nickname %}
             <p>You are switching to <strong>{{ stripe.schedule.phases.1.items.0.price.nickname }}</strong> at the end of your current period.</p>
        {% endif %}

            {% if stripe.discount.end %}
                <p>Your discount will expire on {{ stripe.discount.end|date }}.</p>
            {% endif %}

            <p>Subscription created on {{ stripe.created|date }};
            {% if stripe.cancel_at_period_end %}
                <strong>it expires on {{ stripe.current_period_end|date }}.</strong>
            {% elif actual_paid > 0 %}
                your next payment
                {% if upcoming %} of £{{ upcoming.amount_due|floatformat:-2 }} {% endif %}
                will be taken on {{ stripe.current_period_end|date }}.
            {% else %}
                your next invoice date is {{ stripe.current_period_end|date }}.
            {% endif %}

            {% if balance %}
                <br>Your account has a balance of £{{ balance|floatformat:-2 }}.
            {% endif %}
            </p>

            <ul class="unstyled-list inline-list">
                <li><a href="{% url "subscription_update" %}" class="btn btn--small btn--primary">Change plan</a></li>
              {% if not stripe.cancel_at_period_end %}
                <li><a href="{% url "subscription_cancel" %}" class="btn btn--small btn--danger">Cancel subscription</a></li>
              {% endif %}
            </ul>

            <hr>

            <h3>Your usage</h3>

            <p>
                This month:
                {{ quota_status.count }}
              {% if quota_status.quota > 0 %}
                out of {{ quota_status.quota }}
              {% endif %}
                API calls
            </p>

            {% if quota_status.quota > 0 %}
                <meter class="subscription-quota-meter"
                    value="{{ quota_status.count }}"
                    min="0"
                    max="{{ quota_status.quota }}">
                    {{ quota_status.count }} out of
                    {{ quota_status.quota }} API calls
                </meter>
            {% endif %}

            {% if quota_status.history %}
                <p>Previous months:
                {% for month in quota_status.history %}
                    {{ month|floatformat }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
                </p>
            {% endif %}

            <hr>

            <h3>Your payment details</h3>

            {% if card_info %}
                <p>Payment details we hold: {{ card_info.brand }},
                last four digits <code>{{ card_info.last4 }}</code>.</p>
            {% else %}
                <p>We do not currently hold any payment details for you.</p>
            {% endif %}

            <noscript>
                <p class="account-form__errors"> Unfortunately, our payment
                processor requires JavaScript to update details.<br>Please
                <a href="/contact">contact us</a> about your requirements and
                we’ll be happy to help.</p>
            </noscript>

            <p>Fill in the below to update your card details:</p>
            <form action="{% url "subscription_card_update" %}" method="POST" id="update_card_form">
                {% csrf_token %}
                <div class="account-form__field">
                    <div class="account-form__label"><label for="id_personal_details-name">Name on card:</label></div>
                    <div class="account-form__input"><input type="text" name="personal_details-name" id="id_personal_details-name"></div>
                </div>

                <div class="account-form__field">
                    <div class="account-form__label"><label for="card-element">Credit or debit card details:</label></div>
                    <div id="card-element" class="form-control"><!-- A Stripe Element will be inserted here. --></div>
                    <div id="card-errors" role="alert"></div>
                </div>

                <input type="hidden" name="payment_method" value="">

                <div class="account-form__field account-form__field--submit">
                    <button id="customButton"
                            class="btn btn--primary">{% trans "Update card details" %}</button>
                    <div id="spinner" class="mysoc-spinner mysoc-spinner--small" role="status">
                        <span class="sr-only">Processing…</span>
                    </div>
                </div>
                <script src="https://js.stripe.com/v3"></script>
                <script id="js-payment" data-key="{{ STRIPE_PUBLIC_KEY }}" data-api-version="{{ STRIPE_API_VERSION }}" src="{% static "js/payment.js" %}"></script>
            </form>

        {% else %}
            <p>You are not currently subscribed to a plan.</p>
            <p>
                <a href="{% url "subscription_update" %}" class="btn btn--primary">Subscribe to a plan</a></p>
            </p>

        {% endif %}

    </section>
{% endblock %}
