{% extends "account/base.html" %}

{% load static %}
{% load i18n %}

{% block title %}{% if stripe %}{% trans "Change plan" %}{% else %}{% trans "Add plan" %}{% endif %}{% endblock %}

{% block content %}
    {% include 'account/_logged_in_sidebar.html' %}
    <section class="account-form">
        <h2>{% if stripe %}{% trans "Change plan" %}{% else %}{% trans "Add plan" %}{% endif %}</h2>

      {% if stripe.cancel_at_period_end %}
        <p>Your plan is curently set to expire on {{ stripe.current_period_end|date }}.
        If you update your plan below, it will be reactivated.
        </p>
      {% endif %}

        <form id="signup_form" method="post" action="{% url "subscription_update" %}" autocapitalize="off">
            {% csrf_token %}
            {% include 'account/_form_fields.html' %}

            <noscript>
                <p class="account-form__errors"> Unfortunately, our payment
                processor requires JavaScript to take payment.<br>Please
                <a href="/contact">contact us</a> about your requirements and
                we’ll be happy to help.</p>
            </noscript>

          <div id="js-payment-needed">
            <div class="account-form__field">
                <div class="account-form__label"><label for="id_personal_details-name">Name on card:</label></div>
                <div class="account-form__input"><input type="text" name="personal_details-name" id="id_personal_details-name"></div>
            </div>

            <div class="account-form__field">
                <div class="account-form__label"><label for="card-element">Credit or debit card details:</label></div>
                <div id="card-element" class="form-control"><!-- A Stripe Element will be inserted here. --></div>
                <div id="card-errors" role="alert"></div>
            </div>
          </div>

            <div class="account-form__field account-form__field--submit">
                <button id="customButton"
                    class="btn btn--primary">{% if stripe %}{% trans "Change plan" %}{% else %}{% trans "Add plan" %}{% endif %}</button>
                <div id="spinner" class="mysoc-spinner mysoc-spinner--small" role="status">
                    <span class="sr-only">Processing…</span>
                </div>
            </div>
        </form>

    <script src="https://js.stripe.com/v3"></script>
    <script id="js-payment"
        {% if has_payment_data %}data-has-payment-data="1"{% endif %}
        data-key="{{ STRIPE_PUBLIC_KEY }}"
        src="{% static "js/payment.js" %}"></script>

    </section>
{% endblock %}
