.account-form__field {
    margin-bottom: 1em;

    input {
        @extend .form-control;
    }
}

.account-form__field--error {
    color: $color_error_red;
}

.account-form__input {
    & > ul {
        @extend .unstyled-list;
    }

    .account-form__field--error input {
        border-color: $color_error_red;
    }
}

.account-form__label {
    margin-bottom: 0.4em;
    font-weight: 600;
}

.account-form__errors {
    color: $color_error_red;
    background-color: mix($color_error_red, #fff, 10%);
    border-radius: 0.3em;
    padding: 0.5em 1em;
    margin: 1em 0;

    .errorlist {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
        }
    }
}

.content--with-sidebar header.account-header {
    @media (min-width: 60em) {
        margin-top:-1.1em;
    }
}

.api-keys {
    @extend .unstyled-list;

    li {
        margin: 1em 0 2em 0;
    }

    .api-key__key {
        font-family: Consolas, 'Liberation Mono', Courier, monospace;
        padding: 1em;
        border: 2px solid $colour_off_white;
        border-radius: 0.3em;
    }

    .api-key__meta {
        margin-top: 1em;
        font-size: 0.8em;

        .btn {
            float: right;
            margin-top: -0.2em;
        }
    }
}
