.content {
    @extend .container;

    padding-top: 1em;
    padding-bottom: 1em;

    @media (min-width: $medium-screen) {
        padding-top: 2em;
        padding-bottom: 2em;
    }
}

.content--with-sidebar {
    @media (min-width: $medium-screen) {
        @include clearfix();

        header {
            float: left;
            width: 20%;
        }

        section {
            float: right;
            width: 70%;
        }
    }
}

.toc {
    p {
        margin: 0.25em 0;
        font-weight: 600;
        color: $colour_dark_grey;
    }

    ol, ul {
        @extend .unstyled-list;
        margin-top: 0;
        margin-bottom: 2em;
    }

    a {
        display: block;
        padding: 0.25em 0;
        border-top: 1px solid $colour_off_white;
    }
}

.content--api-docs {
    section {
        padding-bottom: 2em;

        h3 {
            em {
                display: block;
                font-style: inherit;
                font-size: 0.66em;
                line-height: 1em;
            }
        }

        dl {
            margin: 0;
        }

        dt {
            font-weight: 600;
        }

        dd {
            margin-bottom: 1.5em;

            p, ul {
                margin: 0 0 1.5em 0;
            }
        }
    }

    @media (min-width: $large-screen) {
        section {
            padding-left: 12em;
            position: relative;

            h3 {
                position: absolute;
                top: 0;
                left: 0;
                width: 10em;
            }
        }
    }

    hr {
        border-top-color: $colour_off_white;
        margin: 2em 0;
    }
}
