.mysoc-newsletter--input-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    gap: 0;

    label {
        margin-bottom: 0.5rem;
        display: block;
    }

    input[type="email"] {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        height: 38px;
    }

    .btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        height: 38px;
    }
}
