.pricing__heading {
    text-align: center;
}

.pricing__lead {
    text-align: center;
}

.pricing {
    @include clearfix();
    margin: 2em 0;

    // Arrange children into a single vertical line on narrow screens
    @include flexbox();
    @include flex-direction(column);
    @include flex-align(center);
}

.pricing__option {
    display: block;
    text-align: center;
    padding: 1.5em 1em;
    border: 1px solid #ccc;
    background-color: #fff;
    max-width: 20em;
    margin: -1px 1em 0 1em;
}

.pricing__option--ghostly {
    border-style: dashed;
    border-color: #ddd;
    color: #777;

    // Send to bottom of the list on narrow screens
    order: 1;
    border-top-width: 0;
    margin-top: 0;
}

.pricing__option--featured {
    position: relative;
    z-index: 1;
    box-shadow: 0 0.5em 1em rgba(#000, 0.1);

    // Make this one stick out
    max-width: 22em;
    margin-left: 0;
    margin-right: 0;

    background-color: mix($color_mysoc_orange, #fff, 15%);
    border-color: mix($color_mysoc_orange, #ccc, 15%);

    .pricing__option__name {
        color: mix($color_mysoc_orange, #999, 15%);
    }
}

@media (min-width: 45em) {
    .pricing {
        // Arrange children into a horizontal line now we have more space
        @include flex-direction(row);
        @include flex-align(auto);

        margin: 3em 0;
    }

    .pricing__option {
        width: 25%;
        margin: 0 0 0 -1px; // overlap left border

        // Expand up from 25% (magically compensates for -1px overlap)
        @include flex(1 0 0);

        // Arrange children onto a single vertical line
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(space-between);
        @include flex-align(center);
    }

    .pricing__option--featured {
        top: -0.5em;
        padding: 2em 1em;
        margin-bottom: -0.5em*2;
    }

    .pricing__option--ghostly {
        // Back to default DOM order
        order: 0;
        border-top-width: 1px;
    }

    // Margins on flex children don't collapse, so remove margin-tops
    .pricing__option__description,
    .pricing__option__features {
        margin-top: 0;
    }
}


.pricing__option__name {
    text-transform: uppercase;
    color: #999;
    margin-top: 0;
    font-size: 0.8em;
    font-weight: bold;
}

.pricing__option__cost {
    margin: 0 0 0.66em 0;
}

.pricing__option__description {
    font-style: italic;
}

.pricing__option__features {
    text-align: left;
    font-size: 0.9em;
    line-height: 1.3em;
    margin-bottom: 1.5em;

    li + li {
        margin-top: 0.5em;
    }
}
