$color_mysoc_blue: #4FADED;

$theme_dir: '/static'; // tell docs-theme what to use in image urls
$logo_path: ''; // tell docs-theme not to put a logo in the header
$colour_brand: $color_mysoc_blue; // used in docs-theme .site-header

$mysoc-footer-donate-button-background-color: $color_mysoc_blue;
