{% extends "mapit/base.html" %}
{% load i18n %}

{% block article-class %}content--with-sidebar content--api-docs{% endblock %}

{% block title %}{% trans "MapIt API Documentation" %}{% endblock %}

{% block content %}

    <h2>{% trans "MapIt API Documentation" %}</h2>

    {% blocktrans trimmed %}
      <p>The documentation below is for developers who want
      to use MapIt as a web service, describing its REST
      API. If that&rsquo;s all Greek to you, please see
      <a href="/overview">our page for non-developers</a>.</p>
    {% endblocktrans %}

    <hr>

    <header>

        <h2>{% trans "MapIt API" %}</h2>

        <nav class="toc">

            <p>{% trans "Lookups" %}</p>
            <ol>
                <li><a href="#api-quota">{% trans "Quota" %}</a></li>
                <li><a href="#api-by_postcode">{% trans "Postcode" %}</a></li>
                <li><a href="#api-by_partial_postcode">{% trans "Partial postcode" %}</a></li>
                <li><a href="#api-by_point">{% trans "Point" %}</a></li>
                <li><a href="#api-nearest">{% trans "Nearest postcode" %}</a></li>
                <li><a href="#api-by_area_id">{% trans "Area" %}</a></li>
                <li><a href="#api-related_areas">{% trans "Related areas" %}</a></li>
                <li><a href="#api-multiple_areas">{% trans "Multiple areas" %}</a></li>
                <li><a href="#api-code">{% trans "Code" %}</a></li>
                <li><a href="#api-generations">{% trans "Generations" %}</a></li>
            </ol>

            <p>{% trans "Information" %}</p>
            <ul>
                <li><a href="#general">{% trans "General information" %}</a></li>
                <li><a href="https://github.com/mysociety/mapit">{% trans "Source code" %}</a></li>
                <li><a href="{% url 'mapit_changelog' %}">{% trans "Changelog" %}</a></li>
            </ul>

            {% block extra_nav %}{% endblock %}

        </nav>

    </header>

    <section id="general">
        <h3>{% trans "General information" %}</h3>
        <dl>
            <dt>Format</dt>
            <dd>
            <p>All calls return JSON, and you can generally get an HTML
            representation by adding .html on the end.</p>

            <p>To use your API key, include it in each API call as either an
            <code>api_key</code> URL query parameter, e.g.
            <small>https://mapit.mysociety.org/area/2244?api_key=KEY</small>, or an
            <code>X-Api-Key</code> HTTP request header. All API responses
            include your current usage and limit in the
            <code>X-Quota-Current</code> and <code>X-Quota-Limit</code>
            response headers.

            <p>Whenever an area is returned from MapIt, it is as a
            dictionary with the following keys: id, name, country, type,
            parent_area, generation_low, generation_high, codes.</p>
            </dd>

            <dt>Historical areas</dt>
            <dd>
            By default, calls will return active areas; for some calls
            you may specify a previous generation to look up instead.
            </dd>

            <dt>Technical queries</dt>
            <dd>If you have any technical queries with the API, please
            <a href="{% url "mapit_contact" %}">contact us</a>.
            </dd>
        </dl>
    </section>

<section id="api-quota">
    <h3><em>lookup</em> quota</h3>
    <dl>
        <dt>URL:</dt>
        <dd>/quota</dd>

        <dt>{% trans "Returns" %}:</dt>
        <dd>
            <p>Your current quota usage and limit. Note: Accessing this
            endpoint does not count against your limit.</p>
        </dd>
    </dl>
</section>

    {% include "mapit/api/postcode.html" %}
    {% include "mapit/api/point.html" %}
    {% include "mapit/api/area.html" %}
    {% include "mapit/api/areas.html" %}
    {% include "mapit/api/code.html" %}
    {% include "mapit/api/generations.html" %}

{% endblock %}
