{% extends "mapit/base.html" %}

{% block title %}Pricing{% endblock title %}

{% block content %}

<h2>Pricing</h2>

<p>We love seeing people use our data for the public good. That’s why low-volume, charitable use of the MapIt API is completely free, and higher volume charitable users get a 50% discount off the standard commercial rate.</p>

<p>All prices include VAT. Prices and call limits are per month.</p>

<div class="pricing">

    <a href="{% if request.user.is_authenticated %}{% url 'account_settings' %}{% else %}{% url 'account_signup' %}{% endif %}" class="pricing__option">
        <h2 class="pricing__option__calls"><small>Up to</small> 5,000 calls</h2>
        <p class="pricing__option__price"><strong>£50</strong>/mth</p>
        <p class="pricing__option__price--charitable">Or <strong>free</strong> for charitable use</p>
    </a>

    <a href="{% if request.user.is_authenticated %}{% url 'account_settings' %}{% else %}{% url 'account_signup' %}{% endif %}" class="pricing__option">
        <h2 class="pricing__option__calls"><small>Up to</small> 10,000 calls</h2>
        <p class="pricing__option__price"><strong>£100</strong>/mth</p>
        <p class="pricing__option__price--charitable">Or <strong>£50</strong>/mth for charitable use</p>
    </a>

    <a href="{% if request.user.is_authenticated %}{% url 'account_settings' %}{% else %}{% url 'account_signup' %}{% endif %}" class="pricing__option">
        <h2 class="pricing__option__calls"><small>Up to</small> 20,000 calls</h2>
        <p class="pricing__option__price"><strong>£200</strong>/mth</p>
        <p class="pricing__option__price--charitable">Or <strong>£100</strong>/mth for charitable use</p>
    </a>

    <a href="{% if request.user.is_authenticated %}{% url 'account_settings' %}{% else %}{% url 'account_signup' %}{% endif %}" class="pricing__option">
        <h2 class="pricing__option__calls"><small>Up to</small> 30,000 calls</h2>
        <p class="pricing__option__price"><strong>£250</strong>/mth</p>
        <p class="pricing__option__price--charitable">Or <strong>£125</strong>/mth for charitable use</p>
    </a>

    <a href="{% if request.user.is_authenticated %}{% url 'account_settings' %}{% else %}{% url 'account_signup' %}{% endif %}" class="pricing__option">
        <h2 class="pricing__option__calls"><small>Up to</small> 50,000 calls</h2>
        <p class="pricing__option__price"><strong>£300</strong>/mth</p>
        <p class="pricing__option__price--charitable">Or <strong>£150</strong>/mth for charitable use</p>
    </a>

</div>

<p>Need more than 50,000 calls a month? <a href="#">Contact us for a price.</a></p>

<hr>

<h2>This stuff came from the licensing page - if we’re going to keep it, it feels like it should be on the pricing page</h2>

<h2>Self&ndash;installed versions of MapIt</h2>
<p>Some organisations prefer to install their own internal version on MapIt. We
are happy to help with this. Depending on your needs, we can advise your
technical team on how to do this, or our developers can install it for you (for a fee).</p>

<h2>One&ndash;off data range searches</h2>
<p>We also offer one&ndash;off look&ndash;ups for large data sets &ndash; this is useful when you
don’t need to use the API but simply have data that you need matched (e.g. a
list of postcodes to match to the constituencies they fall into). We can do
this for you &ndash; <a href="mailto:enquiries&#64;mysociety.org">ask us for a quote</a>.</p>

<h2>Geometry files</h2>
<p>If you need to use the API to download the MapIt geometry files, you can do
so for free for up to 50,000 files if you are a registered UK charity or an
individual working on a non&ndash;profit project. If you are not, or need more than
50,000 files, we can licence them to you.</p>

{% endblock %}
