{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "API Key" %}{% endblock %}

{% block content %}
    {% include 'account/_logged_in_sidebar.html' %}
    <section class="account-form">
        <h2>{% trans "Delete API Key" %}</h2>
        {% include 'account/_messages.html' %}
        <form action="" method="post">
            {% csrf_token %}
            <p>{% trans 'Are you sure you want to delete this API Key?' %}</p>
            <p><code>{{ api_key.key }}</code></p>
            <div class="account-form__field account-form__field--submit">
                <button type="submit" class="btn">
                    {% trans 'Delete' %}
                </button>
            </div>
        </form>
    </section>
{% endblock %}
