{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "API Key" %}{% endblock %}

{% block content %}
    {% include 'account/_logged_in_sidebar.html' %}
    <section class="account-form">
        <h2>{% trans "API Key" %}</h2>
        {% include 'account/_messages.html' %}

        <p>To use your API Key, include it in each API call as either an
        <code>api_key</code> URL query parameter, e.g.
        https://mapit.mysociety.org/area/2244?api_key=KEY, or an X-Api-Key HTTP
        request header.</p>

        <p>Your API Keys:</p>
        <ul class="api-keys">
        {% for api_key in api_keys %}
            <li>
                <div class="api-key__key">{{ api_key.key }}</div>
                <ul class="api-key__meta">
                  <li>{% blocktrans with datetime=api_key.created_at %}
                    Created: {{datetime}}
                  {% endblocktrans %}</li>
                  {% if api_key.usage_count %}
                    <li>({{ api_key.usage_count }} call{{ api_key.usage_count|pluralize }})</li>
                  {% endif %}
                    <li><a href="{% url 'api_keys_delete_key' api_key.pk %}" class="btn btn--danger btn--small">
                        {% trans 'Delete this API Key' %}
                    </a></li>
                </ul>
            </li>
        {% endfor %}
        </ul>
        <form action="{% url 'api_keys_create_key' %}" method="post">
            {% csrf_token %}
            <div class="account-form__field account-form__field--submit">
                <button type="submit" class="btn">
                    {% trans 'Generate new API Key' %}
                </button>
            </div>
        </form>
    </section>
{% endblock %}
