{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "API Key" %}{% endblock %}

{% block content %}
<article id="api-docs">
    {% include 'account/_logged_in_sidebar.html' %}
    <section class="account-form">
        <h2>{% trans "API Key" %}</h2>
        {% include 'account/_messages.html' %}
        <p>Your API Keys:</p>
        <ul>
        {% for api_key in api_keys %}
            <li>
                <code>{{ api_key.key }}</code>
                <br/>
                <small>
                  {% blocktrans with datetime=api_key.created_at %}
                    Created: {{datetime}}
                  {% endblocktrans %}
                </small>
                <a href="{% url 'api_keys_delete_key' api_key.pk %}" class="btn btn--api-key-delete">
                    {% trans 'Delete' %}
                </a>
            </li>
        {% endfor %}
        </ul>
        <a href="#">Generate new API Key</a>
    </section>
</article>
{% endblock %}