{% extends 'bulk_lookup/base.html' %}

{% block title %}Spreadsheet data mapper{% endblock %}

{% block content_text %}

<h1>Spreadsheet data mapper</h1>

<p>If you have a Excel, CSV, or OpenDocument file including a column of
postcodes, upload it here, and MapIt will automatically match the postcodes and
add columns for the administrative areas (councils, constituencies, CCGs, etc.)
you request, sending you the results by email.</p>

<p>This service is free for ‘Metropolis’ MapIt subscribers: for all others
there is a charge of £{{ BULK_LOOKUP_AMOUNT }} per file processed. You will be charged at the end of
the upload process: payment is by debit or credit card.</p>
{% endblock %}

{% block content_pre_buttons %}
<ul>
    <li>The first row of your file will be counted as the header row: do not
        include a postcode in this row.</li>
    <li>The file can include other columns too; you will confirm which column
        holds postcode data in the next step.</li>
</ul>
{% endblock %}
