{% extends 'bulk_lookup/base.html' %}

{% block title %}Where should we send the results?{% endblock %}

{% block content_text %}
    <h1>Step 4: Where should we send the results?</h1>
{% endblock %}

{% block content_pre_buttons %}
  {% if price %}
    <p>
        We’ll match {{ num_good_rows }} postcodes and the cost will be
        &pound;{{ price }}.
        <br>You can pay via credit or debit card.
        Payment is handled by Stripe, a secure online service.
    </p>
  {% else %}
    <p>We’ll match {{ num_good_rows }} postcodes.</p>
  {% endif %}
{% endblock %}
