{% extends 'bulk_lookup/base.html' %}

{% block title %}Where should we send the results?{% endblock %}

{% block content_text %}
    <h1>Where should we send the results?</h1>
    <p>
        We'll email this address when the work is done.
    </p>
    <p>
        You can also add a short description to help you keep track of
        things later if you're doing more than one.
    </p>
  {% if price %}
    <p>
        Your job contains {{ num_good_rows }} postcodes and will
        cost you &pound;{{ price }}.
    </p>
    <p>
      You can pay via credit or debit card.
    </p>
  {% else %}
    <p>
        Your job contains {{ num_good_rows }} postcodes.
    </p>
  {% endif %}
{% endblock %}

{% block extra_form_end %}
{% if price %}
<script src="https://checkout.stripe.com/checkout.js"></script>
<script>
var handler = StripeCheckout.configure({
  key: '{{ STRIPE_PUBLIC_KEY }}',
  image: 'https://s3.amazonaws.com/stripe-uploads/acct_19EbqNIbP0iBLddtmerchant-icon-1479145884111-mysociety-wheel-logo.png',
  locale: 'auto',
  name: 'MapIt bulk lookup',
  zipCode: true,
  currency: 'gbp',
  allowRememberMe: false,
  token: function(token) {
    document.getElementById('id_personal_details-stripeToken').value = token.id;
    document.forms[0].submit();
  }
});

document.getElementById('btn-submit').addEventListener('click', function(e) {
  handler.open({
    description: document.getElementById('id_personal_details-description').value,
    email: document.getElementById('id_personal_details-email').value,
    amount: {{ price }} * 100
  });
  e.preventDefault();
});
window.addEventListener('popstate', function() {
  handler.close();
});
</script>
{% endif %}
{% endblock %}
