{% extends "mapit/base.html" %}
{% load static from staticfiles %}
{% load i18n %}

{% block title %}Contact MapIt{% endblock title %}

{% block content %}

<h1>Contact us</h1>

<h2>Technical queries</h2>
<p>If you have questions about how MapIt works, or the data, drop a line to
<a href="mailto:mapit&#64;mysociety.org">mapit&#64;mysociety.org</a>.</p>

<h2>Account queries</h2>
<p>Problems with your subscription or payment? Email
<a href="mailto:enquiries&#64;mysociety.org">enquiries&#64;mysociety.org</a> and we'll help you out.

{% endblock %}
