<div class="mysoc-footer" role="contentinfo">
    <div class="container">
        <div class="row">

            <div class="col-sm-4">
                <h2 class="mysoc-footer__site-name">MapIt: {% include "mapit/country.html" %}</h2>
                <div class="mysoc-footer__site-description">
                    <p>{% include "mapit/description.html" %}</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="mysoc-footer__donate">
                    <p>Your donations keep this site and others like it running</p>
                    <a href="https://www.mysociety.org/donate?utm_source=mapit.mysociety.org&amp;utm_content=footer+donate+now&amp;utm_medium=link&amp;utm_campaign=mysoc_footer" class="mysoc-footer__donate__button">Donate now</a>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="mysoc-newsletter mysoc-footer__newsletter d-print-none">
                    <p class="font-weight-bold">Subscribe to our newsletter</p>
                    <div id="mc_embed_signup">
                        <form action="https://mysociety.us9.list-manage.com/subscribe/post?u=53d0d2026dea615ed488a8834&amp;id=287dc28511&amp;f_id=002a44e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form">
    
                            <div class="mysoc-newsletter--input-wrapper">
                                <div>
                                    <label for="mce-EMAIL">Email Address</label>
                                    <input class="form-control" type="email" name="EMAIL" id="mce-EMAIL" required value="">
                                </div>
                                <input class="btn btn--primary font-weight-bold" type="submit" name="subscribe" id="mc-embedded-subscribe" value="Subscribe">
                            </div>

                            <!-- mySociety newsletter -->
                            <input type="checkbox" name="group[11745][32]" value="" hidden checked>

                            <div aria-hidden="true" style="position: absolute; left: -5000px;">
                            <input type="text" name="b_53d0d2026dea615ed488a8834_287dc28511" tabindex="-1" value="">
                            </div>
    
                        </form>
                    </div>
                </div>
            </div>

        </div>

        <hr class="mysoc-footer__divider" role="presentation">

        <div class="row">
            <div class="col-sm-12">
                <nav class="mysoc-footer__links">
                    <ul>
                        <li role="presentation"><a href="{% url 'mapit_index' %}">Home</a></li>
                        <li role="presentation"><a href="{% url 'mapit_pricing' %}">Pricing</a></li>
                        <li role="presentation"><a href="{% url 'mapit_docs' %}">Documentation</a></li>
                        <li role="presentation"><a href="{% url 'mapit_legal' %}">Terms</a></li>
                        <li role="presentation"><a href="{% url 'mapit_privacy' %}">Privacy</a></li>
                        <li role="presentation"><a href="{% url 'mapit_contact' %}">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <hr class="mysoc-footer__divider" role="presentation">
        <div class="row">

            <div class="col-sm-3">
                <div class="mysoc-footer__orgs">
                    <p class="mysoc-footer__org">
                        Built by
                        <a href="https://www.mysociety.org?utm_source=mapit.mysociety.org&amp;utm_content=footer+logo&amp;utm_medium=link&amp;utm_campaign=mysoc_footer" class="mysoc-footer__org__logo mysoc-footer__org__logo--mysociety">mySociety</a>
                    </p>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="mysoc-footer__legal">
                    <p>
                        <a href="https://www.societyworks.org?utm_source=mapit.mysociety.org&amp;utm_content=footer+full+legal+details&amp;utm_medium=link&amp;utm_campaign=mysoc_footer">SocietyWorks</a>
                        is a limited company (05798215). It is a trading subsidiary of
                        <a href="https://www.mysociety.org?utm_source=mapit.mysociety.org&amp;utm_content=footer+full+legal+details&amp;utm_medium=link&amp;utm_campaign=mysoc_footer">mySociety</a>,
                        a registered charity in England and Wales (1076346).
                    </p>
                </div>
            </div>

            <div class="col-sm-3">
                <ul class="mysoc-footer__badges">
                    <li role="presentation"><a href="https://github.com/mysociety/mapit" class="mysoc-footer__badge mysoc-footer__badge--github">Github</a></li>
                    <li role="presentation"><a href="https://twitter.com/mysociety" class="mysoc-footer__badge mysoc-footer__badge--twitter">Twitter</a></li>
                    <li role="presentation"><a href="https://www.facebook.com/mysociety" class="mysoc-footer__badge mysoc-footer__badge--facebook">Facebook</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>
